@tailwind base;
@tailwind components;
@tailwind utilities;

.cta-button {
  padding: 15px;
  border: none;
  border-radius: 12px;
  min-width: 250px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  background: lightblue;
}

.connect-wallet-button {
  background: orange;
}
